.expenses-title {
    font-size: 1.75rem;
    cursor: pointer;
}

.description-text{
    word-wrap: break-word;
    color: black;
}

/* .div-main {
    background: linear-gradient(to bottom, #f54141, #802e95);
} */
/* 
.li-main {
    background: linear-gradient(to bottom, #000000, #161717);
} */